.login-main{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#e3e3e3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top:-10px;
}
#game-area{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#e3e3e3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top:-10px;
}
#logo{
    background-image: url(MathsLogo.png);
    background-repeat: no-repeat;
    height:200px;
    margin-top:-30px;
}
.body{
    background-color: #e3e3e3;
}
.ubuntu{
    font-family: 'Ubuntu' ,sans-serif;
}
.libre-franklin{
    font-family: 'Libre Franklin' ,sans-serif;
}
.begin{
    background-color: #dddddd;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.right{
    top:50%;
    font-size: 20px;
    -webkit-text-stroke: 1.5px #28a746;
}
#question-area{
    margin-top: 10px;
    padding: 10px;
    border-top:solid 10px #288ea7;
    border-radius: 10px;
    background-color: #eeeeee;
}